body
{
  font-family:"Arial";
}

.center-justify
{
  -moz-text-align-last: center;
  text-align-last: center;
}

.centered
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.jumbotron-center
{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:75%;
}

.coin-button
{
    background-color: rgb(0, 12, 63);
    color: white;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

.st0
{
    fill: white;
}

.coin-button:hover .st0
{
    fill: #ea891f;
}

.coin-button:hover
{
    cursor: pointer;
}


.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgb(0, 12, 63); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

.loader-container {
    padding-top: 100px;
    padding-top: 100px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#qrcode
{
    width: 180px !important;
    margin: auto !important;
    padding-bottom: 50px;
    padding-top: 50px;
}

.coin-button-container
{
    text-align: center;
}

.ntb-jumbo-img
{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:65%;
    height:auto;
    border-radius:20px;
    max-width: 500px;
}

.coin-tooltip {
  position: relative;
  display: inline-block;
}

.coin-tooltip .coin-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #686868;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;

  top: -5px;
  right: 150%;

}

.coin-tooltip:hover .coin-tooltiptext {
  visibility: visible;
}

.coin-tooltip:hover {
    cursor: pointer;
}

.coin-tooltip .coin-tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #686868;
}

.coin-form {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.coin-form li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.coin-form label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.coin-form input[type=text],
.coin-form input[type=date],
.coin-form input[type=datetime],
.coin-form input[type=number],
.coin-form input[type=search],
.coin-form input[type=time],
.coin-form input[type=url],
.coin-form input[type=email],
textarea,
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
.coin-form input[type=text]:focus,
.coin-form input[type=date]:focus,
.coin-form input[type=datetime]:focus,
.coin-form input[type=number]:focus,
.coin-form input[type=search]:focus,
.coin-form input[type=time]:focus,
.coin-form input[type=url]:focus,
.coin-form input[type=email]:focus,
.coin-form textarea:focus,
.coin-form select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.coin-form .field-divided{
	width: 49%;
}

.coin-form .field-long{
	width: 100%;
}
.coin-form .field-select{
	width: 100%;
}
.coin-form .field-textarea{
	height: 100px;
}
.coin-form input[type=submit], .coin-form input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.coin-form input[type=submit]:hover, .coin-form input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.coin-form .required{
	color:red;
}